.blockdouble1 {
  position: relative;
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  padding-top: 110px;
  padding-bottom: 0px;
}

.blockdouble2 {
  position: relative;
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 30px;
}

.blockdouble3 {
  position: relative;
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.blockdouble_left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 50px 30px;
  flex-basis: calc(60% - 60px);
  height: calc(100% - 60px);
  min-width: 400px;
  flex-grow: 1;
  min-height: 300px;
}

.blockdouble_text {
   font-family: pfddpl;
   font-size: 30px;
   letter-spacing: 3px;
   line-height: 35px;
   flex-shrink: 0;
   padding-left: 15px;
   padding-right: 15px;
   width: 80%;
   word-wrap: break-word;
   text-align: center;
   color: rgba(0,0,0,0.7);
}

.blockdouble_right {
  flex-basis: 40%;
  height: 100%;
  flex-grow: 1;
}

.blockdouble_img {
  width: 100%;
  height: 300px;
  background-image: url(../img/block1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.block1 {
  position: relative;
  width: calc(100% - 30px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 10px 15px;
}

.block1_text {
  font-family: pfddpl;
  font-size: 40px;
  letter-spacing: 3px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  text-align: center;
  color: rgba(0,0,0,0.7);
  font-weight: 100;
}

.block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: calc(100% - 60px);
  padding-top: 0px;
}

.team {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.teammate {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 30px;

}

.teammate_photo {
   width: 120px;
   height: 120px;
   border-radius: 100%;
   padding: 5px;
}

.teammate_name {
   font-family: pfddp;
   font-size: 23px;
   padding: 3px;
   padding-bottom: 0px;
   text-align: center;
}

.teammate_skills {
  font-family: pfddp;
  font-size: 18px;
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  color: rgba(0,0,0,0.5);
  text-align: center;
}

.teammate_rel {
  font-family: pfddpb;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}