.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    opacity: 0.5;
    width: 75px;
    height: 75px;
    animation: 2s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}